@model IEnumerable<Manager.Models.Mantenimientos>

@{
    ViewBag.Title = "IndexById";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>IndexById</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdTipoMantenimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaMantenimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trampas.IdTrampa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuarios.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdTipoMantenimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaMantenimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trampas.IdTrampa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuarios.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdMantenimiento }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdMantenimiento }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdMantenimiento })
        </td>
    </tr>
}

</table>
