@model IEnumerable<Manager.Models.Umbrales>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Cantidad máxima")
        </th>
        <th>
            @Html.Label("Nombre científico")
        </th>
        <th>
            @Html.Label("Nombre vulgar")
        </th>
        <th>
            @Html.Label("Género")
        </th>
        <th>
            @Html.Label("Mes")
        </th>
        <th>
            @Html.Label("Provincia")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ValorMaximo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Insectos.NombreCientifico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Insectos.NombreVulgar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Insectos.Generos.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdMes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provincias.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdUmbral }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdUmbral }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdUmbral })
            @Html.ActionLink("Alarmas", "IndexByUmbral", "Alarmas", new { id = item.IdUmbral }, null)
        </td>
    </tr>
}

</table>
