@model Manager.Models.Alarmas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Alarmas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdInsecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdInsecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorMaximo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorMaximo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdProvincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProvincia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdMes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdMes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Relevamientos.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Relevamientos.Observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Umbrales.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Umbrales.Observaciones)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdAlarma }) |
    @Html.ActionLink("Back to List", "Index")
</p>
