@model IEnumerable<Manager.Models.Alarmas>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Relevamiento")
            @*@Html.DisplayNameFor(model => model.IdRelevamiento)*@
        </th>
        <th>
            @Html.Label("FechaRelevamiento")
            @*@Html.DisplayNameFor(model => model.Relevamientos.FechaInicio)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.Label("Insecto")
            @*@Html.DisplayNameFor(model => model.IdInsecto)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorMaximo)
        </th>
        <th>
            @Html.Label("Provincia")
            @*@Html.DisplayNameFor(model => model.IdProvincia)*@
        </th>
        <th>
            @Html.Label("Mes")
            @*@Html.DisplayNameFor(model => model.IdMes)*@
        </th>
        <th>
            @Html.Label("Estado")
            @*@Html.DisplayNameFor(model => model.IdEstado)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observaciones)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdRelevamiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Relevamientos.FechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Insectos.NombreCientifico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorMaximo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provincias.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdMes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estados.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observaciones)
        </td>
        <td>
            @Html.ActionLink("Confirmar", "Confirmar", new { id = item.IdAlarma }) |
            @Html.ActionLink("Desestimar", "Desestimar", new { id = item.IdAlarma }) |
            @Html.ActionLink("Relevamiento", "Validar", "Relevamientos", new { id = item.IdRelevamiento }, null)
        </td>
    </tr>
}

</table>
