@model Manager.Controllers.DatosParaValidar

@{
    ViewBag.Title = "Validar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Validar</h2>

<div>
    <h4>Relevamientos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Validar")
        </dt>

        <dd>
            @Html.ActionLink("Correcto", "Validar1", new { id = Model.Relevamiento.IdRelevamiento }) |
            @Html.ActionLink("Incorrecto", "Validar2", new { id = Model.Relevamiento.IdRelevamiento })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Relevamiento.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Relevamiento.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Relevamiento.FechaFinal)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.Relevamiento.FechaFinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Relevamiento.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Relevamiento.Observaciones)
        </dd>

        <dt>
            @Html.Label("","Estado")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Relevamiento.Estados.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Relevamiento.Trampas.IdTrampa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Relevamiento.Trampas.IdTrampa)
        </dd>

        <dt>
            @Html.Display("Gráfico")
        </dt>

        <dd>
            <div id="chart" style="width:80%; height:300px"/>
        </dd>

    </dl>
</div>
<div>
    <table class="table">
        <tr>
            <th>
                @Html.Label("Insecto")
                @*@Html.DisplayNameFor(model => Model.Totales.*@
            </th>
            <th>
                @Html.Label("Cantidad automática")
            </th>
            <th>
                @Html.Label("Cantidad manual")
            </th>
            <th>
                @Html.Label("Diferencia")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Totales)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Insecto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadAutomatica)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadManual)
                </td>
                <td>
                    @Html.Label((item.CantidadAutomatica - item.CantidadManual).ToString())
                </td>
            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
@section scripts{
    <script>
        var chartData;
        var chartDataHour;
        var rowLevel;
        var FechaInicio;
        var FechaFinal;
        google.load("visualization", "1", { packages: ["corechart"] });

        //Load Year Wise Report On Load
        $(document).ready(function () {
            $.ajax({
                url: '/Relevamientos/InsectosDataHora',
                type: 'get',
                data: { 'idRelevamiento': @Model.Relevamiento.IdRelevamiento },
                dataType: 'json',
                success: function (d) {
                    chartDataHour = d;
                },
                error: function () {
                    alert('Error!');
                }
            }).done(function () {
                CurrentReport = 'Hora';
                generateChart(chartDataHour, "Insectos registrados");
            });
        });

        function generateChart(chartData, title) {
            var data = google.visualization.arrayToDataTable(chartData);

            var options = {
                title: title,
                pointSize: 5,
                focusTarget: "category",
                hAxis: { showTextEvery: 1 }
            }

            var lineChart = new google.visualization.LineChart(document.getElementById('chart'));
            lineChart.draw(data, options);
        }


    </script>
}